#about {

    /* padding: 1% 0 13% 0; */
    overflow-x: hidden;
}

.circle-image img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-bottom: 20%;
}

.about-container p {
    font-size: 30px;
}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    .about-container p {
        font-size: 20px;
    }
}