#hello {
    display: block;
    position: relative;
    background-image: url("https://images.pexels.com/photos/1906440/pexels-photo-1906440.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hello h1 {
    padding: 25% 0% 0% 35%;
    font-size: 200px;
    text-align: left;
}

#hello h2 {
    padding-left: 35%;
    font-size: 100px;
    text-align: left;
}

button {
    margin-bottom: 6%;
}