.header h1 {
    margin: auto;
    margin-top: 5%;
    font-size: 75px;
}

@media screen and (max-width: 992px) {
    .header h1 {
        margin: auto;
        margin-top: 20%;
        font-size: 75px;
    }
}

@media screen and (max-width: 768px) {
    .header h1 {
        margin: auto;
        margin-top: 25%;
        font-size: 75px;
    }
}

@media screen and (max-width: 400px) {
    .header h1 {
        margin: auto;
        margin-top: 50%;
        font-size: 75px;
    }
}